<div class="row">
  <div class="col-sm-3 col-lg-2">
    <app-side-nav></app-side-nav>
  </div>
  <div class="col-sm-9 col-lg-10">
    <div class="row">
      <div class="col-sm-2 col-lg-2"><strong>First Name</strong></div>
      <div class="col-sm-2 col-lg-2"><strong>Last Name</strong></div>
      <div class="col-sm-1 col-lg-1"><strong>VA</strong></div>
    </div>
    <div class="row" *ngFor="let student of students">
      <div class="col-sm-2 col-lg-2">{{student.fname}}</div>
      <div class="col-sm-2 col-lg-2">{{student.lname}}</div>
      <div class="col-sm-1 col-lg-1">{{student.isVa}}</div>
    </div>
  </div>
</div>