<div class="row">
  <div class="col-sm-3 col-lg-2">
    <app-side-nav></app-side-nav>
  </div>
  <div class="col-sm-9 col-lg-10">
    <div class="row">
      <div class="col-sm-2 col-lg-2"><strong>First Name</strong></div>
      <div class="col-sm-2 col-lg-2"><strong>Last Name</strong></div>
      <div class="col-sm-2 col-lg-2"><strong>Cohort</strong></div>
      <div class="col-sm-1 col-lg-1"><strong>VA</strong></div>
    </div>
    <div class="row" *ngFor="let application of applications">
      <div class="col-sm-2 col-lg-2">{{application.student.fname}}</div>
      <div class="col-sm-2 col-lg-2">{{application.student.lname}}</div>
      <div class="col-sm-2 col-lg-2">{{application.student.cohortStudents[0].cohort.name}}</div>
      <div class="col-sm-1 col-lg-1">{{application.student.va}}</div>
    </div>
  </div>
</div>